.checkbox {
  padding-top: 35px;
}

.checkbox__background {
  background-color: @bg-gray;
}

.checkbox__wrapper {
  .wrapper();
}

.checkbox__title {
  margin-bottom: 15px;

  text-align: center;

  color: @pink;
}

.checkbox__items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.checkbox__item {
  margin-bottom: 15px;
}
