.checkbox {
  padding-top: 35px;
}

.checkbox__title {
  margin-bottom: 15px;

  text-align: center;

  color: @pink;
}

.checkbox__items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.checkbox__item {
  margin-bottom: 15px;
}

@media @tablet-widths {
  .checkbox__items {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
  }

  .checkbox__item {
    width: 250px;
    padding: 20px;
  }

  .checkbox__title {
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;

    width: 390px;
    margin-right: auto;
    margin-left: auto;

    text-transform: uppercase;

    color: @pink;
    background-color: @white;
  }

  .checkbox__input {
    margin-right: 20px;
  }
}
