.contest-introduction {
  min-height: 170px;
  padding-top: 35px;

  background-image: url('../img/bg-back-mobile@1x.jpg');
}

.contest-introduction__wrapper {
  .wrapper;
}

.contest-introduction__text {
  font-size: 24px;
  font-weight: light;

  text-align: center;

  color: @white;
}
