.contacts__wrapper {
  .wrapper;
}

.contacts__h1 {
  margin-bottom: 40px;

  text-align: center;

  .h1;
}

.contacts__link {
  color: @pink;
}

.contacts__items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__item {
  margin-bottom: 25px;

  text-align: center;
}

.contacts__p-title {
  .h2;
}

.contacts__p-adress {
  color: @pink;

  .h1;
}
