.download {
  padding-top: 105px;
  padding-bottom: 35px;
  margin-bottom: 30px;

  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-color: @bg-darkblue;

  color: #ffffff;

}

.download__img {
  display: block;
  text-align: center;

  margin-left: -60px;
}

.download__link {
  display: block;

  padding-top: 10px;
  padding-bottom: 10px;

  color: @white;
  text-align: center;

  border: 3px solid #ffffff;
  border-radius: 25px;
}

.download__wrapper {
  .wrapper();
}

.download__infoblock {
  padding-top: 25px;

  background: @bg-darkblue;
  text-align: center;
}

.download__items {
  .list-reset;

  margin-bottom: 20px;
}

.download__item {
  display: inline-block;
}

.download__platform-img {
  margin-top: 30px;
}

.download__platform-img:first-child {
  margin-right: 20px;
}

.download__platform-img:last-child {
  margin-left: 20px;
}
