.download {
  margin-bottom: 30px;
  padding-top: 105px;
  padding-bottom: 35px;

  color: #fff;
  background-color: @bg-darkblue;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

.download__img {
  display: block;

  margin-left: -60px;

  text-align: center;
}

.download__link {
  display: block;

  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;

  color: @white;
  border: 3px solid #fff;
  border-radius: 25px;
}

.download__wrapper {
  .wrapper();
}

.download__infoblock {
  padding-top: 25px;

  text-align: center;

  background: @bg-darkblue;
}

.download__items {
  margin-bottom: 20px;

  .list-reset;
}

.download__item {
  display: inline-block;
}

.download__platform-img {
  margin-top: 30px;
}

.download__platform-img:first-child {
  margin-right: 20px;
}

.download__platform-img:last-child {
  margin-left: 20px;
}
