.editor__background {
  background-color: @bg-gray;
}

.editor__wrapper {
  .wrapper;
}

.editor__header {
  min-height: 80px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.editor__text {
  text-align: center;
}

.editor__form {
  background: @bg-gray;
}

.editor__btn {
  color: @pink;
}

.editor__btn--inactive {
  color: @lightgray;
}

.editor__tools-block {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.editor__tools {
  display: flex;

  justify-content: space-around;
  .list-reset;
}

.editor-tool {
  display: flex;

  flex-flow: row;
  justify-content: space-between;
}

.editor-tool a {
  flex-grow: 1;
}

.editor__buttons {
  display: flex;

  flex-flow: column;
}

.editor-tool__range {
  display: none;
}



@media @tablet-widths {
  .editor__text {
    font-size: 18px;
  }

  .editor__form {
    display: flex;

    flex-flow: row;
    justify-content: space-around;
  }

  .editor__buttons {
    display: flex;

    margin-top: auto;

    flex-flow: column;
  }

  .editor__tools-block {
    padding-top: 40px;
  }

  .editor__tools {
    display: flex;

    flex-flow: column;
    justify-content: center;
  }

  .editor__tool {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  .editor__btn {
    margin-top: auto;
  }

  .editor-tool__range {
    display: block;

    flex-grow: 2;
  }

  .editor-tool__range--mobile {
    display: none;
  }
}

@media @desktop-widths {
  .editor__form {
    display: flex;

    flex-flow: row;
    justify-content: space-around;
  }

  .editor__tools-block {
    width: 500px;
    padding-top: 60px;
  }
  .editor__tools {
    display: flex;

    flex-flow: column;
    justify-content: center;
  }

  .editor__tool {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  .editor__btn {
    margin-top: auto;
  }

  .editor-tool__range {
    display: block;

    flex-grow: 2;
  }

  .editor-tool__range--mobile {
    display: none;
  }

  .editor__buttons {
    display: flex;

    margin-top: auto;

    flex-flow: row;
    justify-content: space-around;
  }
}
