.features__background {
  background-color: @bg-gray;
}

.features {
  text-align: center;
}

.features-header {
  background-color: #fff;
}

.features-header__text {
  margin-bottom: 40px;

  .h1;
}

.features__wrapper {
  .wrapper();
}

.features__items {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 40px;

  list-style: none;

  background-color: @bg-gray;
}

.features__item {
  margin-bottom: 30px;

  marging-top: 40px;
}

.features__item-title {
  margin-bottom: 10px;

  .h2;
}

.features__img--mobile-bottom {
  position: relative;
  z-index: 1;

  overflow: hidden;

  margin-bottom: -40px;
}
