.feedback {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

.feedback__wrapper {
  .wrapper;
}

.feedback__label {
  color: @pink;
  text-transform: uppercase;
}

.feedback__textarea {
  margin-top: 20px;
  padding: 10px;
  resize: none;

  min-height: 200px;
  width: 260px;
}
