.main-nav {
  border-bottom: 1px solid black;
  background-color: @bg-darkblue;

  .container();
}

.main-nav__wrapper {
  .wrapper();
}

.main-nav__link {
  text-transform: uppercase;

  color: @white;

  .h2;
}

.main-nav__items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;

  border-top: 1px solid black;
}
