.main-nav {
  position: relative;

  border-bottom: 1px solid black;
  background-color: @bg-darkblue;
}


.main-nav__link {
  text-transform: uppercase;

  color: @white;

  .h2;
}

.main-nav__items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;

  border-top: 1px solid black;
}

.main-nav__toggle {
  position: absolute;
  top: -5px;
  right: 40px;
}

@media @desktop-widths {
  .main-nav {
    width: 600px;

    opacity: 0.9;
    border: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__link {
    font-weight: normal;

    text-transform: none;
  }

  .main-nav__item {
    border: none;
  }

  .main-nav__items {
    display: flex;

    justify-content: space-around;
  }
}
