.page-header {
  padding-top: 20px;

  background-color: @bg-darkblue;
}

.page-header__wrapper {
  position: relative;
}

.page-header__logo {
  max-width: 150px;
}

@media @desktop-widths {
  .page-header__wrapper {
    .wrapper();
  }
  .page-header {
    position: absolute;
    right: 0;
    left: 0;

    margin-right: auto;
    margin-left: auto;

    opacity: 0.9;
  }
  .page-header__wrapper {
    display: flex;

    align-items: center;
    justify-content: space-around;
  }
}
