.page-header {
  background-color: @bg-darkblue;
  padding-top: 20px;
}

.page-header__wrapper {
  .clearfix();
  .wrapper();
}

.page-header__logo {
  float: left;
  .wrapper();
  max-width: 150px;
  margin-bottom: 25px;
}

.main-nav__toggle {
  float: right;
}
