.price {
  background-color: @bg-gray;
  padding-bottom: 45px;
}

.price__wrapper {
  .wrapper();
}

.price__item:last-child {
  display: none;
}

.price__item:first-child {
  display: none;
}

.price__item-main-cell {
  text-align: center;
  background-color: @bg-darkblue

}

.price__item {
  width: 100%;
}

.price__item-main-cell {
  padding-top: 20px;
  padding-bottom: 20px;

  color: @white;;
  text-transform: uppercase;
}

.price__item-name {
  font-weight: bold;

  .h2;
}

.price__item-feature {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;

  text-transform: uppercase;
}

.price__toggle {
  text-align: center;
}
