.share {
  padding-top: 35px;
}

.share__wrapper {
  .wrapper();
}

.share__info-text {
  text-align: center;
  margin-bottom: 30px;
}

.share__btn {
  color: @white;
  background: @green;
  text-transform: uppercase;

  width: 280px;
}

@media @tablet-widths {
  .share__btn {
    width: 300px;
  }
}

@media @desktop-widths {
  .share__btn {
    width: 300px;
  }
}
