.share {
  padding-top: 35px;
}

.share__wrapper {
  .wrapper();
}

.share__info-text {
  margin-bottom: 30px;

  text-align: center;
}

.share__btn {
  width: 280px;

  text-transform: uppercase;

  color: @white;
  background: @green;
}

@media @tablet-widths {
  .share__btn {
    width: 300px;
  }
}

@media @desktop-widths {
  .share__btn {
    width: 300px;
  }
}
